@font-face {
    font-family: sf-prodisplay-regular;
    src: url(./Font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: sf-prodisplay-medium;
    src: url(./Font/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: sf-prodisplay-bold;
    src: url(./Font/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: MADE-Tommy-Soft;
    src: url(./Font/made_tommy_soft/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: MADE-Tommy-Soft-regular;
    src: url(./Font/made_tommy_soft/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf);
}
/*while page  */

*{
    padding: 0px;
    margin: 0px;
}

.bgimg img{
    width: 100%;
    height: auto;
}

.logo{
    width: 200px;
}

.menu li a{
    font-family: sf-prodisplay-bold;
    font-size: 18px;
}

.logo img{
    top: 0;
    position: absolute !important;
    width: 200px;
    margin-top: 20px;
} 

.nav{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    position: absolute;
    top: 0;
}

.nav img{
    width: 200px; 
} 

.text {
    position: absolute;
    top: 100px;
}

.text h1{
    font-size: 48px;
    font-family: sf-prodisplay-bold;
}

.text p{
    font-size: 24px;
    font-family: sf-prodisplay-regular;
}

.btn{
    border-radius: 22px;
    color: white;
    background-color: #7E6C54;
    padding: 8px 16px;
    border-color: white;
    margin: 10px 0px 20px 0px;
    font-size: 18px;
    font-family: sf-prodisplay-bold;
}

.store img{
    width: 200px;
}

.btn:hover{
    color: rgb(255, 255, 255);
}
 
.text h1{
    width: 782px;
    color: white;
}
.text p{
    width: 606px;
    color: white;
    text-align: start;
}

/* About Mixer */

.about-bgimg{
    /* padding-top: 20px; */
    background-image: url(./Images/ab-bg.png);
    /* background-position:center;   */
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.abimg{
    width: 370px !important;
    padding-top: 85px;
}

.img1{
    width: 600px !important;
    padding-left: 30px;
}

.img2{
    padding-top: 40px;
    width: 283px !important;
}

.img3{
    width: 340px !important; 
    padding-top: 25px;
}

.txt{
    margin-top: 20px;
}

.txt h3{
    padding-top: 60px;
    color: #22201e;
    font-family: MADE-Tommy-Soft;
    width: 397px;
}

.txt p{
    font-family: MADE-Tommy-Soft-regular;
    color: #655F5F;
    width: 404px;
    padding: 20px 65px 0px 0px ;
    text-align: start;
}

.about{
    padding-left: 50px;
}

/* Socializing */
.ctn{
    padding: 150px 100px 0px 30px;
}


.stext h2{
    font-family: sf-prodisplay-bold;
    color: #473D2F;
    font-size: 40px;
    padding-top: 150px;
}

.headtxt{
    color: #342D23;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
}

.head p{
    color: #342D23;
    text-align: start;
    font-size: 15px;
    padding-left: 35px;
    font-family: MADE-Tommy-Soft-regular;
}

/* essentials */
.essentials h2{
    padding: 20px 0px 0px 60px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    font-family: MADE-Tommy-Soft-regular;
}

.e-img{
    background-image: url(./Images/export-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.essentials{
    position: relative;
    padding-top: 50px;
    color: white;
    text-align: center; 
}

/* essential image */
.eim{
    padding-top: 60px;
    position: relative;
    width: 850px;
    margin: auto;
}

/* essential texts 1 */
.etxt1{
    position: absolute;
    top: 280px; 
    width: 34%;
    margin-left: 30px;
}

.fm{
    border-bottom: 3px solid #f0ad4e;
}

.etxt1 h3 {
    text-align: start;
    font-size: 28px;
    font-family: MADE-Tommy-Soft-regular;
}

.etxt1 p {
    text-align: start;
    font-size: 19px;
    font-family: MADE-Tommy-Soft-regular;
}

/* essential texts 2 */
.etxt2{
    position: absolute;
    top: 595px; 
    width: 30%;
    text-align: start;
    margin-left: 30px;
}

.fm{
    border-bottom: 3px solid #f0ad4e;
}

.etxt2 h3 {
    text-align: start;
    font-size: 28px;
    font-family: MADE-Tommy-Soft-regular;
}

.etxt2 p {
    text-align: start;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
}

/* essential texts 3 */
.etxt3{
    position: absolute;
    top: 425px; 
    width: 30%;
    float: right;
    right: 0;
    margin: 0px 10px 0px 20px;
}

.fm{
    border-bottom: 3px solid #f0ad4e;
}

.etxt3 h3 {
    text-align: start;
    font-size: 25px;
    font-family: MADE-Tommy-Soft-regular;
}

.etxt3 p {
    padding-left: 5px;
    text-align: start;
    font-size: 17px;
    font-family: MADE-Tommy-Soft-regular;
}

/* Socializing */
.social h2{
    color: #221F1F;
    font-size: 36px;
    font-weight: bold;
    font-family: MADE-Tommy-Soft-regular;
    text-align: center;
    padding: 65px 50px 10px 100px;
}

.social p{
    color: #655F5F;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    text-align: center;
    padding: 10px 260px 0px 280px;
}

/* connected ease area */
.ce{
    padding: 0px 35px 0px 0px;
}

.ctxt{
    padding-top: 100px;
}
.ctxt h2{
    font-weight: bold;
    text-align: start;
    color: #221F1F;
    font-size: 36px;
    font-family: MADE-Tommy-Soft-regular;
}

.ctxt p{
    padding-right: 38px;
    font-size: 16px;
    color: #655F5F;
    text-align: start;
    font-family: MADE-Tommy-Soft-regular;
}

/* c1 text */
.ce1{
    padding-top: 30px; 
}

.ce1 img{
    width: 30px;
}

.ce1 h2{
    padding: 12px 0px 0px 10px;
    color: #988265;
    font-size: 18px;
    text-align: start;
    font-family: MADE-Tommy-Soft-regular;
}
.s1 p{
    color: #655F5F;
    font-size: 14px;
    text-align: start;
    font-family: MADE-Tommy-Soft-regular;
}

/* c2 text */
.ce2 img{
    width: 30px;
    padding-top: 18px;
}

.ce2 h2{
    padding: 30px 0px 0px 10px;
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
}

.s2 p{
    color: #655F5F;
    padding-top: 10px;
    font-size: 15px;
    text-align: start;
    font-family: MADE-Tommy-Soft-regular;
} 

/* c3 text */
.ce3 img{
    width: 30px;
}

.ce3 h2{
    padding: 10px 0px 0px 5px;
    color: #988265;
    font-size: 16px;
    font-family: MADE-Tommy-Soft-regular;
}

.s3 p{
    color: #655F5F;
    font-size: 14px;
    text-align: start;
    padding-top: 4px;
    font-family: MADE-Tommy-Soft-regular;
}

/* c4 text */
.ce4 img{
    width: 30px;
}

.ce4 h2{
    padding: 10px 0px 0px 10px;
    color: #988265;
    font-size: 16px;
    font-family: MADE-Tommy-Soft-regular;
}

.s4 p{
    color: #655F5F;
    font-size: 14px;
    text-align: start;
    font-family: MADE-Tommy-Soft-regular;
}

/* perfect mixxer */
.ptext{
    padding-top: 300px;
}
.ptext h2{
    color: #221F1F;
    font-size: 36px;
    font-family: MADE-Tommy-Soft-regular;
}

.ptext p{
    color: #655F5F;
    font-size: 16px;
    text-align: start;
    font-family: MADE-Tommy-Soft-regular;
    padding: 20px 50px 0px 0px;
}

/* c1 text */
.icn{
    width: 30px !important;
}

.c1 h2{
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 16px ;
}

.p1 p{
    color: #655F5F;
    font-size: 14px;
    font-family: MADE-Tommy-Soft-regular;
}

/* c2 text */
.c2 h2{
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 16px ;
}

.p2 p{
    color: #655F5F;
    font-size: 16px;
    font-family: MADE-Tommy-Soft-regular;
}

/* c3 text */

.c3 h2{
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 16px ;
}

.p3 p{
    color: #655F5F;
    font-size: 13.5px;
    font-family: MADE-Tommy-Soft-regular;
}

/* c3 text */
.c4 h2{
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 16px;
}

.p4 p{
    color: #655F5F;
    font-size: 17px;
    font-family: MADE-Tommy-Soft-regular;
}

/* image */
.disc{
    padding-top: 210px;
}

/* Loop */
.loop{
    padding: 300px 0px 0px 30px;
}

.loop h2{
    color: #221F1F;
    font-size: 36px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 0px;
}

.loop p{
    color: #655F5F;
    font-size: 16px;
    font-family: MADE-Tommy-Soft-regular;
}
/* loop 1 text */
.lt h2{
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 16px;
}

.lp1 p{
    color: #655F5F;
    font-size: 13px;
    font-family: MADE-Tommy-Soft-regular;
}

/* loop 2 text */
 .lp2 p{
    color: #655F5F;
    font-size: 14.5px;
    font-family: MADE-Tommy-Soft-regular;
}

/* loop 3 text */
.lp3 p{
    color: #655F5F;
    font-size: 13px;
    font-family: MADE-Tommy-Soft-regular;
}

/* loop 4 text */
.lp4 p{
    color: #655F5F;
    font-size: 13.5px;
    font-family: MADE-Tommy-Soft-regular;
}

/* Social Hub */
.htext h2{
    color: #988265;
    font-size: 18px;
    font-family: MADE-Tommy-Soft-regular;
    padding: 15px 0px 10px 16px;
}